@import "../base/settings";

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--title {
    @media (min-width: $tablet-breakpoint) {
      margin-bottom: 0;
    }
  }

  & > * {
    flex: 1 1 0px;
  }

  @media (max-width: $tablet-breakpoint) {
    flex: 0 1 auto;
    flex-direction: column;

    p {
      padding-bottom: 2rem;
    }
  }
}
