@import "../base/settings.scss";

.project {
  &--image {
    width: 100%;
    height: auto;
    position: relative;
    padding: 1.5rem 0;
    transition: top ease 0.3s, opacity ease 0.3s, transform ease 0.3s;
    cursor: pointer;
    position: relative;
    top: 0;

    &:hover {
      opacity: 0.85;
      top: -4px;
    }

    &:active {
      opacity: 0.8;
      top: -2px;
    }
  }

  h2 {
    margin-top: 1rem;
  }

  &__body {
    display: flex;
    align-items: center;
    text-align: left;
  }
  &__left,
  &__right {
    width: 50%;
    margin: 1rem;
  }

  @media (max-width: $tablet-breakpoint) {
    &__body {
      display: block;
    }

    &__left,
    &__right {
      width: 100%;
    }
  }

  ul {
    // padding: 0;
    margin: 0;
    padding: 0 0 0 2rem;
  }

  ul,
  li {
    // margin: 0;
  }
}
