.squares {
  &__container {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: inline-block;
    margin-top: 2rem;
  }

  &__row {
    display: flex;
  }

  &__square {
    display: flex;
    // background-color: blue;
    border: 1px solid grey;
    width: 1rem;
    height: 1rem;
    margin: 1px;

    &--colored {
      background-color: red;
      border: 1px solid red;
    }
  }

  &__indication {
    position: relative;
    font-size: 1.2rem;

    &--week {
      margin-top: -2rem;
    }

    &--year {
      margin-left: -2rem;
      margin-top: -0.5rem;
    }

    &--week-text,
    &--year-text {
      text-align: left;
      font-size: 2rem;
    }

    &--week-text {
      padding-bottom: 0.5rem;
      padding-left: 3rem;
    }

    &--year-text {
      position: absolute;
      margin-left: -7rem;
      margin-top: 6rem;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
}
