// Colors
$primary-color: rgb(108, 99, 255);
$font-color: rgb(20, 30, 69);

// Sizes
$mobile-breakpoint: 30rem; // Below this is mobile
$tablet-breakpoint: 50rem; // Below this is tablet
$desktop-breakpoint: 100rem; // Below this is small desktop screen
$margin-side-large: 5rem;
$margin-side-medium: 2.5rem;
$margin-side-small: 1rem;
