@import "../base/settings";

select {
  border: 1px solid $primary-color;
  // background-color: $primary-color;
  padding: 0.3rem;
  border-radius: 3px;
  color: $primary-color;
  // color: white;
  font-size: 2rem;
}
